@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-Color: #3ABBA7;
    --secondary-Color: #ff1f59;
    --text-Color: #062E5F;
    --alert-Color: #0099ff;
    --success-Color: #8BE0DD;
    --warning-Color: #EE8800;
    --error-Color: #FE514C;
    --grey-Color: #7A7A7A;
    --black-Color: #232323;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color:#052D5F;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 10px 15px;
    --button-border-radius: 6px;
    --button-font-weight: 500;
    --heading:50px;
	--heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
    --logo-border-radius: 15px;
    --jumbotron-padding: 50px 6px;
    --section-padding:30px 0px;

}
.fdb-block {
    padding: 0rem 0;
}
/* headere871d461930b46f7 */
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link {
    font-weight: var(--button-font-weight);
    color: var(--black-Color);
}
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link:hover{
    color: var(--primary-Color);
}
.headere871d461930b46f7 .btnregister {
    background-color: var(--warning-Color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    color: var(--main-Background-Color);
}
.headere871d461930b46f7 .font-weight-bold {
    font-weight: var(--button-font-weight) !important;
}
.headere871d461930b46f7 .logo{
    max-height: 60px;
    border-radius: var(--logo-border-radius);
}
/* aboutb90ffb8dc999187d */
.aboutb90ffb8dc999187d .sec-title1 .title1{
    display: none;
}
.aboutb90ffb8dc999187d .sec-title1 h2{
    font-size: var(--heading);
    color: var(--black-Color);
    text-decoration: underline;
    text-underline-offset: 8px;
    padding-bottom: 0px;
}
.aboutb90ffb8dc999187d .sec-title1 h2:before{
    display: none;
}
.aboutb90ffb8dc999187d .btn-style-one1{
    font-size: 16px;
    border: 2px solid var(--primary-Color);
    opacity: 1;
    color: var(--main-Background-Color);
    font-weight: var(--button-font-weight);
    background-color: var(--primary-Color);
}
.aboutb90ffb8dc999187d .about-section1 .texte1{
    margin-bottom: 30px;
    font-size: var(--paragraph);
    padding: var(--section-padding);
    margin-bottom: 0px;
}
/* fulbf5e57dc82a907a3 */
.fulbf5e57dc82a907a3{
    padding: var(--section-padding);
}
.fulbf5e57dc82a907a3 .fdb-block{
    padding: 0rem 0;
    padding-bottom: 0em;
}
.fulbf5e57dc82a907a3 h1 {
    font-size: var(--heading-large);
}
.fulbf5e57dc82a907a3 h3 {
    font-size: var(--heading-medium);
    margin-top: 15px;
}
.fulbf5e57dc82a907a3 strong {
    font-weight: var(--button-font-weight);
}
.fulbf5e57dc82a907a3 p {
    font-size: var(--paragraph);
}
/* aboutbf5e9e9e7ee746db */
.aboutbf5e9e9e7ee746db{
   padding: var(--section-padding);
}
.aboutbf5e9e9e7ee746db .DescriptionHeading{
    font-size: var(--heading-large);
    color: var(--button-border-radius);
}
.aboutbf5e9e9e7ee746db .searchBtn{
    display: none;
}
.aboutbf5e9e9e7ee746db .font-weight-bold {
    font-weight: var(--button-font-weight) !important;
}
/* frankiepo48kr6e3hi */
.frankiepo48kr6e3hi{
    padding: var(--section-padding);
}
.frankiepo48kr6e3hi .fdb-block {
    padding: 0px 0;
    padding-bottom: 0em;
}
.frankiepo48kr6e3hi h1 {
    font-size: var(--heading-large);
}
.frankiepo48kr6e3hi a,
.frankiepo48kr6e3hi a:hover{
    font-weight: var(--button-font-weight);
    color: var(--error-Color);
    font-size: var(--paragraph);
}
.frankiepo48kr6e3hi h3 {
    font-size: var(--paragraph);
    margin-top: 15px;
}
.frankiepo48kr6e3hi strong {
    font-weight: var(--button-font-weight);
}
/* workw8b69b68110aa8e40 */
.workw8b69b68110aa8e40{
    padding-bottom: 7em;
}
.workw8b69b68110aa8e40 .badge{
    display: none;
}
.workw8b69b68110aa8e40 .lead {
    font-size: var(--heading);
}
.workw8b69b68110aa8e40 .btn-outline-success{
    padding: var(--button-padding) !important;
    border-color: var(--primary-Color);
    color: var(--black-Color);
}
.workw8b69b68110aa8e40 .btn-outline-success:hover,
.workw8b69b68110aa8e40 .btn-outline-success:not(:disabled):not(.disabled):active{
    background-color: var(--primary-Color);
    border-color: var(--primary-Color);
}
/* aboutp3dce575962b3c369 */
.aboutp3dce575962b3c369{
    display: none;
}
/* aboutp3dce575962b3c369 */
.testimonialprqwl7a4x8r{
    padding: var(--section-padding);
}
.testimonialprqwl7a4x8r .fdb-block {
    padding: 0px 0;
    padding-bottom: 0em;
}
.testimonialprqwl7a4x8r h1 {
    font-size: var(--heading-large);
}
.testimonialprqwl7a4x8r .mt-5{
    margin-top: 1rem !important;
}
.testimonialprqwl7a4x8r .h4{
    font-size: var(--paragraph);
}
@media (min-width: 1200px){
    .testimonialprqwl7a4x8r .mt-xl-5{
        margin-top: 2rem !important;
    }
    .testimonialprqwl7a4x8r .pb-xl-5{
        padding-bottom: 1rem !important;
    }
}
/* counteraf598102c9dad94e */
.counteraf598102c9dad94e{
    padding: var(--section-padding);
}
.counteraf598102c9dad94e h2 {
    font-size: var(--heading-large);
    color: var(--primary-Color);
}
.counteraf598102c9dad94e h4{
    font-size: var(--heading-medium);
    color: var(--grey-Color);
}
/* faqf013287cc03d37647 */
.faqf013287cc03d37647 .faq-section {
    padding: 0vh 0 0;
    min-height: 75vh;
}
.faqf013287cc03d37647 .faq-title h2{
    font-size: var(--heading-large);
}
.faqf013287cc03d37647 .faq .card .card-header .faq-title .badge{
    background: var(--primary-Color);
}
.faqf013287cc03d37647 .faq .card .card-header .faq-title{
    color: var(--black-Color);
    font-size: var(--paragraph);
}
.faqf013287cc03d37647 .faq .card .card-body p{
    color: var(--grey-Color);
}
.faqf013287cc03d37647{
    padding: var(--section-padding);
}
/* footftkxsoham8f */
.footftkxsoham8f{
    padding: 15px 0;
}
.footftkxsoham8f strong {
    font-weight: 500 !important;
}
.footftkxsoham8f a{
    color: var(--black-Color);
}
.footftkxsoham8f h3{
    font-size: var(--heading-medium);
}